{% extends 'base.html' %}
{% block title %}Clothes{% endblock %}
{% block content %}

<center>


  <!-- Clothes Cards Grid -->
  <div class="container mt-4">
    <div class="row" id="clothes-container">


      <div class="dropdown mb-3 text-end d-flex justify-content-between">
        <button class="btn btn-secondary btn-sm" onclick="document.location = '/' ">
          ← Back
        </button>
        <button class="btn btn-outline-dark dropdown-toggle" type="button" data-bs-toggle="dropdown">
          Sort Products
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
          <li><a class="dropdown-item" href="#" onclick="sortCards('name', true)">Name ↑ A-Z</a></li>
          <li><a class="dropdown-item" href="#" onclick="sortCards('name', false)">Name ↓ Z-A</a></li>
          <li><a class="dropdown-item" href="#" onclick="sortCards('price', true)">Price ↑ Low to High</a></li>
          <li><a class="dropdown-item" href="#" onclick="sortCards('price', false)">Price ↓ High to Low</a></li>
        </ul>


      </div>

      {% for cloth in clothes %}
      <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
        <a href="/card/{{ loop.index }}" class="text-decoration-none">
          <div class="card bg-dark bg-gradient text-light h-100" data-name="{{ cloth.name }}"
            data-price="{{ cloth.price }}">
            <img src="static/uploads/{{ cloth.image_filename_1 }}" class="card-img-top" alt="T-Shirt">
            <div class="card-body">
              <h5 class="card-title">{{ cloth.name }}</h5>
              <h6 class="card-text">price: ${{ cloth.price }}</h6>
              <h6 class="card-text">condition: {{ cloth.condition }} /10</h6>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>

</center>
{% endblock %}