<footer class="mt-5 text-center text-light py-4" style="background: linear-gradient(90deg, #00f2f2, #096b72); width: 100% ; align-items: center; ">
  <div class="container">
    <h5 class="fw-bold mb-3">Meoradebi</h5>
    <ul class="list-inline mb-3">
      <li class="list-inline-item">
        <a href="#" class="text-light text-decoration-none">About</a>
      </li>
      <li class="list-inline-item">
        <a href="#" class="text-light text-decoration-none">Shop</a>
      </li>
      <li class="list-inline-item">
        <a href="#" class="text-light text-decoration-none">Contact</a>
      </li>
      <li class="list-inline-item">
        <a href="#" class="text-light text-decoration-none">Privacy</a>
      </li>
    </ul>
    <p class="mb-0 small">© {{ current_year }} Clothify. All rights reserved.</p>
  </div>
</footer>
