{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="container d-flex align-items-center justify-content-center min-vh-100">
  <div class="card shadow-lg p-4" style="max-width: 400px; width: 100%;">
    <h3 class="text-center mb-4 text-danger">Login to Meoradebi</h3>
    <form method="POST"  enctype="multipart/form-data">
      {{ form.hidden_tag() }}

      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        
        {{form.email(class="form-control", id="email" , placeholder="you@example.com" )}}
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        
        {{form.password( class="form-control", id="password",placeholder="••••••••")}}
      </div>
      <div class="d-grid mb-3">
        
        {{form.submit(class="btn btn-danger")}}
      </div>
      <div class="text-center">
        <small>Don't have an account? <a href="/register">Sign up</a></small>
      </div>
    </form>
  </div>
</div>

{% endblock %}