body{
    background: linear-gradient(90deg, #00f2f2, #096b72)
}



.card img {
      height: 200px;
      object-fit: cover;
    }

.multi-column-dropdown {
  columns: 3;
  min-width: 400px;
}


.carousel {
  display: flex;
  
  justify-content: center;
  align-items: center;
  overflow: hidden;
  
}


@media (min-width: 576px) {
  #productCarousel {
    max-width: 500px;
    margin: auto;
  }

  #productCarousel .carousel-inner img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}
